!!! 5
html(lang="en")
  head
    title arduino-socket
    link(rel="stylesheet", href="/styles/bootstrap/init.css")
    link(rel="stylesheet", href="/styles/init.css")
    script(src="/socket.io/socket.io.js")
    script(data-main="scripts/main", src="/scripts/require-jquery.js")
  body!= body